# dev environment
.idea/
.DS_Store
.python-version

#
*.log
dist/
*.png
.ipynb_checkpoints/
__pycache__

#
data/*
!data/.gitkeep
!data/logs/
data/logs/*
!data/logs/.gitkeep

#
notebooks/*
!notebooks/.gitkeep
